@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 Any Drive<br />
    Big Town, CA 90210<br />
    <abbr title="Phone">P:</abbr>
    555.123.4567
</address>

<address>
    <strong>Support:</strong>   <a href="support@gmail.com">Support@AlbumTracker.com</a><br />
    <strong>Marketing:</strong> <a href="marketing@gmail.com">Marketing@AlbumTracker.com</a>
</address>