@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>AlbumTracker.com</h2>
    <p class="lead">AlbumTracker.com is a free database for cataloging your album collection.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Getting started with AlbumTracker</h2>
        <p>
            AlbumTracker gives you a powerful way to track your album collection.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Get Started >>", "GetStarted", "Home")</a></p>
    </div>
    <div class="col-md-3">
        <h2>Find Artists</h2>
        <p>Browse Artists from A to Z at artistdirect.com.</p>
        <p><a class="btn btn-default" href="http://www.artistdirect.com/" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Add More Genres</h2>
        <p>Music Genre List is the most comprehensive list of genres of music available on the Internet.  Use it to sort your albums in AlbumTracker</p>
        <p><a class="btn btn-default" href="http://www.musicgenreslist.com/" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <a class="twitter-timeline" href="https://twitter.com/hashtag/artistdirect" data-widget-id="753037375463387137">#artistdirect Tweets</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
    </div>
</div>